:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

body {
  margin: 0;
}

.hero-pos {
  position: relative;
  height: 100vh; 
  width: 100%; 
  overflow: hidden; 
}

.hero-flex {
  display: flex;
  justify-content: center;
}

.hero-img {
  position: absolute;
  z-index: -100;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  pointer-events: none;
}

.hero-div{
  position: absolute;
  left: 20%;
  top: 25%;
  color: white;
}

.hero-title {
  font-family: 'Lobster', cursive;
}

.hero-desc {
  width: 40%;
}
.hero-v-line {
  font-family: sans-serif;
  font: 300;
  font-size: 16px;
}

.redirect-btn {
  text-decoration: none;
  font-size: 16px;
  padding: 6px 12px;
  color: white;
  border: white solid 2px;
  background-color: transparent;
  border-radius: 16px;
  transition: color 0.15s ease-in-out, background-color 1s ease-in-out;
}

.redirect-btn:hover {
  background-color: red;
  cursor: pointer;
}

.hero-btn-div {
  display: flex;
  gap: 20px;
}

.gallery-body {
  height: 100vh;
}
  
.gallery-title {
  text-align: center;
}

.album-flex {
  display: flex;
  margin: 0px 10px;
  justify-items: space-between;
  gap: 1.5%;
}

.album-img {
  width: 380px;
}

.album-item {
  padding: 8px 8px 0px 8px ;
  border-radius: 6px;
  border: 1px solid rgb(156, 152, 152);
  width: 380px;
}


.album-title {
  text-align: center;
}

.yellow {
  background: #92c952
}

.green {
  background: #24f355
}

.pink {
  background:#d32776
}

.purple {
  background: #8c6399
}
/* Profile CSS */

.profile-body {
  height: calc(80vh - 80px);
  font-family: 'Lobster', cursive;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  font-size: 20px;
  font-weight: bold;
}


/* Header CSS */

.header-pos {
  padding: 10px 20px;
  display: flex;
  gap: 25%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.nav-bar * {
  color: red;
  text-decoration: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
}

.active-page-button {
  border-bottom: 2px solid indigo;
}

.invisible-btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
}
/* Footer CSS */

.footer-pos {
  position: relative;
  background-color: #fff;
  font-family: Arial, sans-serif;
  border-top: 2px solid red;

}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  padding: 10px 20px;
}

.dota-gallery-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 1.8rem;
}

.reserved-p {
  font-size: 1rem;
  color: #bbbbbb; 
  align-self: center;
}

.dota-img {
  height: 50px;
}

/* Error Page CSS*/

.error-page-body {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  color: #333;
  background-color: #f8f9fa;
}

.error-page-body .bug-icon {
  padding: 1%;
  font-size: 4rem;
  color: #dc3545; 
  margin-bottom: 20px;
}

.error-page-body span {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.bug-img {
  position: absolute;

}
